<div class="flex items-center justify-center h-screen bg-white">
  <div class=" border-black overflow-x-auto bg-white m-20  p-5">
    <table class="table bg-white">
      <tbody>
        <% @blog_posts.each do |blog_post| %>
          <tr>
            <td > <%= blog_post.title %></td>
            <td > <%= blog_post.content.truncate(80) %></td>
            <td > <%= blog_post.created_at %></td>
            <td > <%= link_to 'Show', blog_post, class: 'btn btn-primary' %></td>
            <td > <%= link_to 'Edit', edit_blog_post_path(blog_post), class: 'btn btn-secondary' %></td>
            <td > <%= link_to 'Destroy', blog_post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-error' %></td>
          </tr>
        <% end %>
      </tbody>
  </table>
  </div>
</div>
<br>

<div class="flex items-center justify-center mb-5 bg-white">
  <%= link_to 'New Blog Post', new_blog_post_path, class: 'btn btn-success' %>
</div>
